@font-face {
    font-family:baufra ;
    src: url(./fonts/BaufraBold.ttf);
}

body {
    margin: 0;
    overflow: hidden;
}
#container {
    display: flex;
    color: #D92121;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

#main {
    display: flex;
}

#rightSection {
    flex-grow:4;
    border-left: 2px solid black;
    padding-left: 100px;
    
}

#header {
    background-color: black; 
    color: gold;
    text-transform: uppercase;
    font-family: baufra;
    font-weight:bolder;
    
}
.todo-form , .project-todo-form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    display: none;
}



.projectname {
    margin-left: 20px;
    font-size: 1.25em;
    padding: 5px;
}

.projectname:hover, .home:hover, .today:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#navBar {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 20vw;
    padding: 10px;
    background-color: rgb(0, 0, 0,10%);
    padding-left: 20px;
    padding-top: 30px;

}

.navbar-title {
    font-size: 1.8em;
    color: black;

}

#header > h1 {
    text-align: center;
    font-size: 3em ;
}

footer {
    background-color: black;
    color: gold;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: baufra;
}

.home-todos,.project-todos {
    display: grid;
    grid-template-columns: .5fr 8fr 2fr;
    padding-right: 100px;
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    font-size: 1.5em;
    align-items: center;
}
/*
.project-todos {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    font-size: 1.5em;
    
} */

.home-todos:hover, .project-todos:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0,10%);
    border-radius: 5px;
}

#currentproject, #currenttask {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    color: #D92121;
    font-family: monospace;
    width: 300px;
    height: 300px;
    font-size: 1.25em;
}

#delbtn {
    align-self: flex-start;
}

.todayheader {
    color: black;
}

#rightSection, #navBar {
    height: 100vh;
}

#main-form-dialog, #secondary-form-dialog {
    width: 200px;
}

.homeHeading,#homeHeading {
    font-size: 2em;
    color: black;
    text-transform:uppercase;
    font-family: baufra;
}

#home, #today{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    
}
#createproject {
    display: flex;
    gap: 5px;
    color: black;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

#createproject:hover {
    color: rgb(0, 0, 0,80%);
}

#projectSection {
    margin-top: 10px;
}
button {
    cursor: pointer;
    padding: 5px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font: monospace;
}

#addtask {
    margin-left: 20px;
    margin-top: 20px;
}

.btncont {
    display: flex;
    justify-content: space-between;
    justify-self: end;
   
}
.topcont {
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 250px;
}
.projbtncont {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    
}

.proj-titl {
    font-weight: bolder;
}

#main-form-dialog, #secondary-form-dialog {
    width: 305px;
    height: 500px;
    

}
#description  {
    height: 200px;
    width: 300px;
}

#description2 {
    height: 270px;
    width: 300px;
}

.todo-form input[type="text"] {
    width: 300px;
    height: 20px;
}

.form-priority {
    width: 304px;
}

.fs-fp {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    
}
.fs-fp-item {
    display: flex;
}
.todo-form-legend {
    text-align: center;
    width: 300px;
    font-size: 1.75em;
    font-family: baufra;
}
.status-legend {
    text-align: center;
}

label {
    color: #D92121;
}

.secondary-form-legend, .proj-name-form-legend {
    text-align: center;
    font-family: baufra;
    font-size: 1.75em;
}
.proj-name-form-legend {
    font-size: 1.5em;
}
.project-form {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: black;
    opacity: 40%;
}