body {
    margin: 0;
}
#container {
    display: flex;
    color: red;
    flex-direction: column;
}

#main {
    display: flex;
}

#rightSection {
    flex-grow:4;
    background-color: aqua;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100px;
    color: blue;
}
